.page {
    height: 100vh;
    display: flex;
    background-color: #2b323c;
    border-color: #2b323c;
    overflow: hidden;
}

.two {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #efefef;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.h1White {
    font-weight: 300;
    font-size: 3rem;
    color: #2b323c;
    margin: 1rem 0;
    text-align: center;
    padding: 0 5px;
}

.button {
    font-size: 1.5rem;
    padding: 15px;
    margin-top: 25px;
    background-color: #4070F4;
    border-radius: 15px;
    border: none;
    color:  #fff;
    box-shadow: 2px 2px 5px #2b323c;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: scale(.95);
}