.container {
    height: 100%;
}

.page {
    height: auto;
    display: flex;
    background-color: #2b323c;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    padding-top: 50px;
}

.h1Text {
    font-size: 3rem;
    color: white;
    font-weight: 200;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.image {
    border-radius: 400px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
}

.flexAuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.about {
    width: auto;
    color: white;
    font-size: 1.25rem;
}

.goalStatement {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    padding: 0 20px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    padding-top: 0;
    margin-top: 0;
    color: white;
    font-size: 1.25rem;
    padding-right: 10px;
}

.contactBtn {
    height: 60px;
    width: 200px;
    font-size: 1.5rem;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #246594;
    border-radius: 15px;
    border: none;
    color:  #fff;
    box-shadow: 2px 2px 5px black;
}

.contactBtn:hover {
    cursor: pointer;
}

.contactBtn:active {
    transform: scale(.95);
}

.contactBtnText {
    padding: 0;
    margin: 0;
    color: #fff;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 640px) {
    .flexAuto {
        display: flex;
        flex-direction: row;
    }

    .about {
        width: 300px;
        padding-left: 20px;
        padding-right: 0;
    }
}

@media (min-height: 900px) {
    .page {
        height: 100dvh;
    }
}