.container {
    height: 100%;
}

.page {
    height: 100vh;
    display: flex;
    background-color: #2b323c;
    border-color: #2b323c;
    overflow: hidden;
}

.index {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

/* @media (min-width: 40rem) {
    @media(min-height: 31rem) {
        .container::-webkit-scrollbar-track-piece:start {
            background: transparent;
            margin-top: 3.5rem;
        }

        .container::-webkit-scrollbar-thumb {
            border: .25px solid #7f7f7f;
        }

        .container::-webkit-scrollbar {
            display: block;
            width: 10px;
            background: #2b323c;
        }
          
        .container::-webkit-scrollbar-thumb {
            background-color: #bababa;
            border-radius: 15px;
        } 
    }
} */