.container {
    height: 100%;
}

.page {
    /* height: 100dvh; */
    display: flex;
    background-color: #2b323c;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    padding-top: 50px;
}

.h1Text {
    font-size: 3rem;
    color: white;
    font-weight: 200;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.h2Text {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.box {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #efefef;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    margin: 0 15px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.flexAuto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.boxOutline {
    height: auto;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 15px;
    margin-top: 20px;
    z-index: 10;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.boxOutline:hover {
    cursor: pointer;
}

.boxOutlineText {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    padding: 0;
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.dialogBox {
    position: relative;
    overflow: hidden;
    width: 300px;
}

.webDesignDialog {
    background-color: transparent;
    border: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0px;
    animation-name: slideIn120;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.seoDialog {
    background-color: transparent;
    border: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0px;
    animation-name: slideIn200;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.onlineMarketingDialog {
    background-color: transparent;
    border: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0px;
    animation-name: slideIn150;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.emailListDialog {
    background-color: transparent;
    border: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0px;
    animation-name: slideIn200;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.dialogText {
    color: white;
    font-size: 1.25rem;
    
}

.pText {
    color: black;
    font-size: 1.25rem;
}

.closed {
    .vertical {
        transition: all 1s ease-in-out;
        transform: rotate(-90deg);
    }
    .horizontal {
        transition: all 1s ease-in-out;
        transform: rotate(-90deg);
        opacity: 1;
    }
}
  
.opened {
    opacity: 1;
    .vertical {
        transition: all 1s ease-in-out;
        transform: rotate(90deg);
    }
    .horizontal {
        transition: all 1s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
    }
}
  
.plusMinus {
    font-size: 1em;
    opacity: 0.7;
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-top: 2px;
}
  
.plusMinus .horizontal {
    position: absolute;
    background-color: white;
    width: 25px;
    height: 3px;
    left: 50%;
    margin-left: -11px;
    top: 50%;
    margin-top: -2.5px;
}
.plusMinus .vertical {
    position: absolute;
    background-color: white;
    width: 3px;
    height: 25px;
    left: 50%;
    /* margin-left: -2.5px; */
    top: 50%;
    margin-top: -15px;
}
.heightAdd120 {
    height: 120px;
    animation-name: heightAdd120;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heightRemove120 {
    height: 0;
    animation-name: heightRemove120;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.slideOut120 {
    animation-name: slideOut120;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heightAdd150 {
    height: 150px;
    animation-name: heightAdd150;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heightRemove150 {
    height: 0;
    animation-name: heightRemove150;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.slideOut150 {
    animation-name: slideOut150;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heightAdd200 {
    height: 200px;
    animation-name: heightAdd200;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heightRemove200 {
    height: 0;
    animation-name: heightRemove200;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.slideOut200 {
    animation-name: slideOut200;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.contactBtn {
    height: 60px;
    font-size: 1.5rem;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #246594;
    border-radius: 15px;
    border: none;
    color:  #fff;
    box-shadow: 2px 2px 5px black;
    animation-name: loadBtn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.contactBtn:hover {
    cursor: pointer;
}

.contactBtn:active {
    transform: scale(.95);
}

.contactBtnText {
    padding: 0;
    margin: 0;
    color: #fff;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn120 {
    0% {
        top: -120px;
        transform: translateY(-20px);
    }
    100% {
        top: 0;
        transform: translateY(0);
    }
}

@keyframes slideOut120 {
    0% {
        top: 0;
        transform: translateY(0);
    }
    100% {
        top: -120px;
        transform: translateY(-20px);
    }
}

@keyframes heightAdd120 {
    0% {
        height: 0;
    }
    100% {
        height: 120px;
    }
}

@keyframes heightRemove120 {
    0% {
        height: 120px;
    }
    100% {
        height: 0;
    }
}

@keyframes slideIn150 {
    0% {
        top: -150px;
        transform: translateY(-20px);
    }
    100% {
        top: 0;
        transform: translateY(0);
    }
}

@keyframes slideOut150 {
    0% {
        top: 0;
        transform: translateY(0);
    }
    100% {
        top: -150px;
        transform: translateY(-20px);
    }
}

@keyframes heightAdd150 {
    0% {
        height: 0;
    }
    100% {
        height: 150px;
    }
}

@keyframes heightRemove150 {
    0% {
        height: 150px;
    }
    100% {
        height: 0;
    }
}

@keyframes slideIn200 {
    0% {
        top: -200px;
        transform: translateY(-20px);
    }
    100% {
        top: 0;
        transform: translateY(0);
    }
}

@keyframes slideOut200 {
    0% {
        top: 0;
        transform: translateY(0);
    }
    100% {
        top: -200px;
        transform: translateY(-20px);
    }
}

@keyframes heightAdd200 {
    0% {
        height: 0;
    }
    100% {
        height: 200px;
    }
}

@keyframes heightRemove200 {
    0% {
        height: 200px;
    }
    100% {
        height: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 740px) {
    .box {
        width: 400px;
    }

    .flexAuto {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .boxOutline {
        width: 300px;
    }

    .page {
        height: 100dvh;
    }
}